.logo {
    margin:0 auto;
    font-size:32px;
    font-weight: 700;
    color:red;
    padding:30px;


}
.logo-text {
    margin:0 auto;
    font-size:32px;
    font-weight: 700;
    color:green;
    padding:30px;
    display: block;
    margin: top 50px;
    text-transform: capitalize;
}
.adress {
    margin:10%;
    font-size:  24px;
    font-weight: 500;
}

